.slider {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto
}

.slider_line {
    background-color: black;
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider_line img {
    max-width: 800px;
    max-height: 800px;
}

.text {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    transition: all 1s;
    transform: rotate(30);
}

.slider_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* column-gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); */
}

.slider_dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
}

.slider_dot:hover {
    background-color: orangered;
}

.active-dot {
    background-color: orangered;
}